<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseSystem.UI.Properties.Settings.CoursesDBConnectionString"
            connectionString="Data Source=neo-PC;Initial Catalog=CoursesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>