/* Main styles */
body {
	margin: 0px;
	background: url(../images/top-bg.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #444444;
}

h1, h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border-bottom: 1px solid #CC0001;
	color: #FB7600;
}

a:hover {
	background: none;
	border-bottom: 0px solid #CC0001;
}



/* Main parts */
.content {
	width: 900px;
	padding: 20px 0 0 0;
	background-color:#ffffff;
}

.main {
	width: 900px;
	margin: 0 auto;
	border-left:1px solid #8c8c8c;
	border-right:1px solid #8c8c8c;
}

.header {
	width: 900px;
	height: 149px;
	margin: 0 auto;
	background-color:#ffffff;
	background:url(../images/header_green.gif) no-repeat left;
}
.header p{
	float:left;
	padding-left:20px;
	padding-top:10px;
	height:8px;
}

.logo {
	float: left;
	width: 900px;
	color: #000000;
}

.logo h1 {
	float: left;
	padding: 30px 0 0 20px;
	margin-right: 10px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.8em;
}

.logo h1 a {
	color: #FF7900;
}

.left {
	width: 250px;
	float:left;
	min-height:100px;
	margin-left: 20px;
}
.right {
	margin-left: 20px;
	margin-right: 20px;
	width: 850px;
	float:left;
	min-height:100px;
}

/* Menu */

.menu {
	width: 900px;
	height: 30px;
	border-bottom:1px solid #00625b;
	margin: 0 auto;
	padding: 0;
	padding-top:19px;
}

.menu ul {
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
}

.menu ul li {
	float: left;
	
}

.menu ul a {
	border:1px solid #c3d3d3;
	border-bottom:1px solid #899999;
	display: block;
	margin-right: 3px;
	padding: 6px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 900;
	color: #FFFFFF;

	
	color:#354;
	background:#E6E6E6 url(../images/tab-bg.png) repeat-x scroll 50% 50%;
	border:1px solid #c3d3d3;
	border-bottom:0px solid #00625b;
	
}

.menu ul a:hover {
	
	color:#243;
	background:#dadada url(../images/tab-bg-hover.png) repeat-x scroll 50% 50%;
	border-color:#899999;
	border-bottom:0px solid #ffffff;
}
.menu li.current a:hover {
	background:none;
	background-color:#ffffff;
	border:1px solid #00625b;
	border-bottom:1px solid #ffffff;
}

.menu li.current a{
	border-bottom:1px solid #ffffff;
}
li.current a{
	background:none;
	background-color:#ffffff;
	border:1px solid #00625b;
	border-bottom:none;
}


/* Content */
.post {
	margin-left: 20px;
	padding-bottom: 30px;
}

.post .title {
	padding-left: 10px;
	border-left: 4px solid #F57601;
	color: #000000;
}

.post .title a {
	background: none;
	color: #444444;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .text {
	padding: 10px 20px 20px 20px;
	text-align: justify;
}

/* Left side */
.left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.left li {
	margin: 0;
	padding: 0;
}

.left table {
	padding:0;
	margin:0;
	padding-top:5px;
}

.left li ul {
	padding-bottom: 30px;
}

.left h2 {
	letter-spacing: -.5px;
	color: #444444;
}

.left p {
	padding-bottom: 20px;
	text-align: justify;
}

.left a {
	color: #000000;
	border: none;
}

.left a:hover {
	text-decoration: underline;
	color: #787878;
}


/* Footer */
.clear{
	clear:both;
}

.footer {
	width: 900px;
	height: 20px;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	background: #444444;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

.footer a {
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF dotted;
}

/* Search */

.search {
	float: left;
	width: 150px;
	padding: 0;
}

.search form {
	height: 50px;
	margin: 0;
	padding: 70px 0 0 0px;
}

.search-text {
	width: 150px;
	height: 20px;
	border: 1px #ccc solid;
	font:  1.2em Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom:5px;
}

.search-submit {
	width: 50px;
	height: 24px;
	border: 1px #ccc solid;
	font:  1.2em Arial, Helvetica, sans-serif;
}

.calendar {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:10px;
	margin-top:20px;
}
.panel{
	margin-bottom:20px;
}

.right table{
	border:1px solid #ccc;
}
.right table td{
	border:1px solid #ccc;
	padding:3px;
	border:none;
}
.right table .head {
	background-color:#ddd;
	font-weight:bold;
	border:none;
}
.right table a {
	color: #000000;
	border: none;
}

.right table a:hover {
	text-decoration: underline;
	color: #787878;
}

.head {
	background-color:#00625b;
	border-bottom:1px solid #ffffff;
	height:20px;
}

.logname {
	color:#ffffff;
	float:right;
	padding:3px 20px 0 0;
}

.edit {
	background:none;
	border:none;
	background-image:url(../images/edit.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}

.delete {
	background:none;
	border:none;
	background-image:url(../images/delete.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}

.spacing { padding: 0px 10px 5px 0px; }
.cell_size { width: 56px; }
.bottom_space { padding-bottom: 10px; }
.top_space { margin-top: 15px; }

.action_block {
	width: 600px; 
	text-align: right; 
	padding: 10px 0px 20px 0px
}

.order_action
{
	width: 100%;
	text-align: right;
	padding: 10px 0px; 
}