<configuration>
   <system.runtime.remoting>
      <application>
         <service>
            <wellknown 
               mode="Singleton" 
               type="ChatCoordinator, ChatCoordinator" 
               objectUri="Chat"
            />
         </service>
         <channels>
            <channel ref="http" port="8060" >
		<serverProviders>
		    <formatter ref="soap" typeFilterLevel="Full" />
	        </serverProviders>
	    </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
