<configuration>
   <system.runtime.remoting>
      <application>
         <client>
            <wellknown 
               type="ChatCoordinator, ChatCoordinator"
               url="http://localhost:8060/Chat"
            />
         </client>
         <channels>
            <channel ref="http" port="0" >
		<serverProviders>
			<formatter ref="soap" typeFilterLevel="Full" />
		</serverProviders>
	    </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>